<div class="about-row">
  <div class="about-me panel">
    <p class="section-title">// ABOUT ME</p>
    <div class="my-photo"></div>
    <h2 class="my-name">Joseph Kim-Suzuki</h2>
    <p>Aspiring RIR Engineer</p>
    <p class="my-location">Hakodate, Japan</p>
    <p class="start-date">Started: 2024.02.09</p>
  </div>
  <div class="lets-connect panel">
    <p class="section-title">// LET'S CONNECT</p>
    <div class="social-icons">
      <a href="https://github.com/jkimsuzuki" target="_blank">> github.com/jkimsuzuki</a>
      <a href="https://www.linkedin.com/in/joseph-kim-suzuki/" target="_blank">> linkedin.com/in/joseph-kim-suzuki/</a>
      <a href="mailto:jkimsuzuki@gmail.com">>jkimsuzuki@gmail.com</a>
    </div>
  </div>
</div>