<div class="overview">
  <div class="overview-row">
    <div class="hero-panel">
      <h2>Build reliable systems. <br>
        Solve meaningful problems.</h2>
    </div>
    <div class="journey-panel">
      <p class="section-title">JOURNEY SNAPSHOT</p>
      <ul class="journey-timeline">
        <li class="journey-timeline-item">
          <p class="journey-timeline-item-title">Vancouver, Canada</p>
          <p class="journey-timeline-item-subtitle">Early Years</p>
        </li>
        <li class="journey-timeline-item">
          <p class="journey-timeline-item-title">London, UK</p>
          <p class="journey-timeline-item-subtitle">Historical Costumes & Musicals</p>
        </li>
        <li class="journey-timeline-item">
          <p class="journey-timeline-item-title">Interpreter/Translator</p>
          <p class="journey-timeline-item-subtitle">Bridging Communication</p>
        </li>
        <li class="journey-timeline-item">
          <p class="journey-timeline-item-title">Personal Trainer/Educator</p>
          <p class="journey-timeline-item-subtitle">Leading & Empowering People</p>
        </li>
        <li class="journey-timeline-item">
          <p class="journey-timeline-item-title">Flower Shop Owner & Creative Director</p>
          <p class="journey-timeline-item-subtitle">Building & Creating a Business in Local Community</p>
        </li>
        <li class="journey-timeline-item">
          <p class="journey-timeline-item-title">IT Customer Support/Technical Troubleshooting</p>
          <p class="journey-timeline-item-subtitle">Solving Problems & Providing Solutions</p>
        </li>
        <li class="journey-timeline-item">
          <p class="journey-timeline-item-title">Self-Taught Rails Developer</p>
          <p class="journey-timeline-item-subtitle">Building Solutions</p>
        </li>
        <li class="journey-timeline-item">
          <p class="journey-timeline-item-title">Future: Shopify RIR Engineer</p>
          <p class="journey-timeline-item-subtitle">The Next Chapter</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="stat-bar">
    <div class="stat-tile-item">
      <p class="stat-tile-item-title">PROJECTS</p>
      <p class="stat-tile-item-value">2</p>
    </div>
    <div class="stat-tile-item">
      <p class="stat-tile-item-title">INCIDENTS</p>
      <p class="stat-tile-item-value">50+</p>
    </div>
    <div class="stat-tile-item">
      <p class="stat-tile-item-title">YEARS IN SUPPORT</p>
      <p class="stat-tile-item-value">7+</p>
    </div>
    <div class="stat-tile-item">
      <p class="stat-tile-item-title">LANGUAGES SPOKEN</p>
      <p class="stat-tile-item-value">4</p>
    </div>
  </div>
  <div class="overview-row">
    <div class="active-experiments">
    </div>
    <div class="activity-log">
    </div>
  </div>