<nav>
  <div class="jks-portfolio-logo">
    <a href="/"><img src="/jks-signature-logo.svg" alt="Jks Portfolio Logo" class="logo"></a>
  </div>
  <ul>
    <li><a href="/"><span class="chevron">></span> overview.exe</a></li>
    <li><a href="/systems"><span class="chevron">></span> systems.exe</a></li>
    <li><a href="/experiments"><span class="chevron">></span> experiments.exe</a></li>
    <li><a href="/cases"><span class="chevron">></span> cases.exe</a></li>
    <li><a href="/journal"><span class="chevron">></span> journal.exe</a></li>
    <li><a href="/learnings"><span class="chevron">></span> learnings.exe</a></li>
    <li><a href="/about"><span class="chevron">></span> about.exe</a></li>
  </ul>
  <hr>
  <div class="mission-statement">
    <p class="mission-block">// MISSION</p>
    <p class="mission-description">Become a Shopify RIR Engineer</p>
  </div>
  <div class="cursor-divider">//</div>
  <div class="cursor">
   > _
  </div>
</nav>