<nav>
  <div class="jks-portfolio-logo">
    <a href="/"><%= image_tag "jks-signature-logo.svg", alt: "Jks Portfolio Logo", class: "logo" %></a>
  </div>
  <ul>
    <li><a href="/" class="active"><span class="chevron">></span> overview.exe</a></li>
    <li><a href="/systems"><span class="chevron">></span> systems.exe</a></li>
    <li><a href="/experiments"><span class="chevron">></span> experiments.exe</a></li>
    <li><a href="/journal"><span class="chevron">></span> journal.exe</a></li>
    <li><a href="/learnings"><span class="chevron">></span> learnings.exe</a></li>
    <li><a href="/about"><span class="chevron">></span> about.exe</a></li>
  </ul>
  <div class="cursor">
   > _
  </div>
</nav>